body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, serif, sans-serif;
    transition: all 1s;

	form#codraz{
		width: 100%;
		margin: 0 auto;

		div#name{
			text-align: center;

			img{
				width: 50%;
			}
		}

		div#keyzone{
			width: 50%;
			margin: 0 auto;
			margin-bottom: 15px;
			display: flex;
			position: relative;

			span{
				display: inline-block;
				width: 18%;
				padding: 14px 10px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}

			input{
				display: inline-block;
				width: 42%;
				margin-right: 20px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				border: none;
				outline: none;
				font-size: 1.2em;
				padding: 0 10px
			}

			div#action-bloc{
				img{
					display: none;
				}

				div#action{
					width: 36%;
					padding-top: 15px;
					display: flex;

					img{
						display: none;
					}

					div.radio-group{
						font-size: 1.2em;
						display: flex;

						label{
							display: block;
							margin-left: 10px;

							&:hover{
								cursor: pointer;
							}
						}
					}

					div.radio-group:nth-child(1){
						margin-right: 20px;
					}

					div.radio{
						width: 15px;
						height: 15px;
						border-radius: 50%;
						border: 2px solid #FF6600;
						display: inline-block;

						&:hover{
							cursor: pointer;							
						}
					}

					div.radio.checked{
						background-color: #FF6600;
						transition: all .3s;
					}
				}
			}			
		}

		div#help{
			width: 50%;
			margin: 0 auto;
			font-size: .78em;
			color: #66a3ff;
		}

		div#action-hidden{
			width: 50%;
			margin: 0 auto;
			margin-bottom: 15px;

			input{
				display: none;
			}
		}

		div#inout{
			width: 48%;
			margin: 0 auto;
			margin-bottom: 15px;
			position: relative;

			textarea{
				width: 100%;
				height: 250px;
				padding: 10px;
				border-radius: 10px;
				border: none;
				font-family: Arial, serif, sans-serif;
				font-size: 1.2em;
				outline: none;
				margin-left: -1.3%;
			}

			div#change-theme {
				position: absolute;
				bottom: 12px;
				left: 0px;
				width: 120px;
				border-radius: 20px;
				color: white;
				display: flex;
				justify-content: space-between;
				font-size: .8em;
				text-align: center;

				.theme-button{
					cursor: pointer;
					padding: 10px;
					width: 49%;

					&#light-btn {						
						border-bottom-left-radius: 20px;
						border-top-left-radius: 20px;
					}

					&#dark-btn {						
						border-bottom-right-radius: 20px;
						border-top-right-radius: 20px;
					}
				}
			}
		}

		div#submit{
			width: 50%;
			margin: 0 auto;
			margin-bottom: 15px;
			text-align: right;

			input{
				width: 150px;
				padding: 8px 10px;
				background-color: #FF6600;
				outline: none;
				color: #FFFFFF;
				font-size: 1.1em;
				border: none;
				border-radius: 35px;

				&:hover {				
					color: #bfbfbf;
					padding: 7px 9px;
					transition: all .3s;
					cursor: pointer;
				}
			}
		}

		div#copyright{
			width: 50%;
			margin: 40px auto;
			margin-bottom: 15px;
			text-align: center;

			p{
				font-size: .8em;

				a{
					font-size: 1.5em;
					display: inline-block;
					padding: 0 5px;
					transition: all .2s;

					&:hover{
						color: #FF6600;
						transition: all .4s;
					}
				}

				strong{
					margin-right: 5px;
					padding-right: 5px;
				}
			}
		}
	}
}

/* Thème */
@import 'themes/light';
@import 'themes/dark';

@import 'responsive/tablet';
@import 'responsive/mobile';