@media screen and (max-width: 769px) {
	form#codraz{
		width: 100%;
		margin: 0px !important;

		div#name{
			display: none;
		}

		div#logo{
			display: block;
		}

		div#keyzone{
			width: 95% !important;
			border: 1px solid red;

			span{
				width: 35% !important;
			}

			input{
				display: inline-block;
				width: 50% !important;
				margin-right: 20px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				border: none;
				background-color: #333333;
				outline: none;
				font-size: 1.2em;
				padding: 0 10px;
				color: #FFFFFF;
			}

			div#action{
				width: 36%;
				padding-top: 15px;
				margin-bottom: 20px;
				display: flex;

				div.radio-group{
					font-size: 1.2em;
					display: flex;

					label{
						display: block;
						margin-left: 10px;
					}
				}

				div.radio-group:nth-child(1){
					margin-right: 20px;
				}

				div.radio{
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 2px solid #FF6600;
					display: inline-block;

					&:hover{
						cursor: pointer;
						background-color: #FF6600;
						transition: all .3s
					}
				}

				div.radio.checked{
					background-color: #FF6600;
				}
			}			
		}

		div#action-hidden{
			width: 75%;
			margin: 0 auto;

			input{
				display: none;
			}
		}

		div#inout{
			width: 93% !important;
			margin: 0 auto;

			textarea{
				width: 96% !important;
			}
		}

		div#submit{
			width: 95% !important;

			input{
				width: 100% !important;
			}
		}

		div#copyright{
			width: 75%;
			margin: 0 auto;
			margin-bottom: 15px;
			text-align: center;

			p{
				color: #737373;
				font-size: .8em;

				strong{
					margin-right: 5px;
					padding-right: 5px;
					border-right: 1px dotted #737373;
				}
			}
		}
	}
}